@import 'colors.scss';
@import 'routes/login.scss';
@import 'routes/map.scss';

body {
    background-color: #ffffff;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
 }
body > .grid {
  height: 100%;
}

.ember-cli-g-map {
  width: 100%;
  height: 820px;
  border: 1px solid grey;
  border-radius: 4px;
}

.nbtruckinput{
  width: 10px;
}

.centerelement{
  text-align: center;
}

.btnindex{
  width: 100px;
}


.control{
  border: 1px solid #DEDDDF;
  border-radius: 5px;
  background-color: white ;
}

.panel{
  border: 1px solid #DEDDDF;
  border-radius: 5px;
  background-color: white ;
  margin-right: 40px !important;
  margin-left: 40px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
