<form class="ui form">
  <div class="field">
    <h3>How many trucks do you want to launch ?</h3>
    {{input class="nbtruckinput" placeholder="Number of trucks" value=address type=text}}
    <br><br>
    <button class="ui positive basic button" type="submit" {{action 'launchAlgo'}}>Launch ia</button>
  </div>
</form>
{{yield}}
