{{#leaflet-map lat=lat lng=lng zoom=zoom}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  {{#each cities as |city|}}
    {{#marker-layer location=city.position}}
      {{#popup-layer}}
        <li>{{city.name}}
          it position is
          {{city.position}}</li>
      {{/popup-layer}}
    {{/marker-layer}}
  {{/each}}
 {{/leaflet-map}}
{{yield}}