<div class="ui menu inverted">
    {{#link-to 'dashboard'}}
    <a class="item">Map</a>
    {{/link-to}}
    {{#link-to 'table-user-page'}}
    <a class="item">View tables</a>
    {{/link-to}}
  <div class="right menu">
    <a {{action 'logout'}} class="item">Sign out</a>
  </div>
</div>
{{yield}}
