<div class="centerelement">
  <br>
  <h1 class="ui header">The Truck Manager</h1>
  <br>
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        {{#link-to 'login'}}
          <button class="btnindex positive ui button">Login</button>
        {{/link-to}}</div>
      <div class="column">
        {{#link-to 'register'}}
          <button class="btnindex ui pink button">Register</button>
        {{/link-to}}
      </div>
    </div>

  <br>
  <br>
  <br>
  <hr>

  <h2 class="ui center aligned icon header">
    <i class="circular users icon"></i>
    Our team
  </h2>

    <div class="ui three column grid">
      <div class="column">
        <div class="ui segment">
          <img src="assets/images/loic.jpg" width="400" height="400">
          <h3>Loic Caminale</h3>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <img src="assets/images/julien.jpg" width="400" height="400">
          <h3>Julien Basson</h3>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <img src="assets/images/jade.jpg" width="400" height="400">
          <h3>Jade Dagher</h3>
        </div>
      </div>
    </div>
  <br>
</div>

{{outlet}}




