<h1>Delete user</h1>
<form class="ui form">
  <div class="field">
    <label>enter the id to delete the user</label>
    {{input value=id type=text}}
  </div>
  <button class="ui button" type="reset" {{action 'searchPos'}}>delete</button>
</form>
{{yield}}