<h1>Update user</h1>
<form class="ui form">
  <div class="field">
    <label>enter the userId </label>
    {{input value=id type=text}}
  </div>
  <div class="field">
    <label>enter the new username</label>
    {{input value=userName type=text}}
  </div>
  <button class="ui button" type="submit" {{action 'updateUser'}}>Submit</button>
</form>
{{yield}}